In [201]:
import pandas as pd 
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [202]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Jenna Morehead\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [180]:
url = "https://redplanetscience.com/"
browser.visit(url)

html = browser.html
NASA_news_soup = soup(html, "html.parser")

In [181]:
slide_elm = NASA_news_soup.select_one('div', class_ = 'content_title')

In [182]:
news_title = slide_elm.find('div', class_ = 'content_title').get_text()
news_title

'NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget'

In [183]:
news_para = slide_elm.find('div', class_ = 'article_teaser_body').get_text()
news_para

"Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return."

In [184]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [185]:
featured_image_elem = browser.find_by_tag('button')[1]
featured_image_elem.click()

In [186]:
html = browser.html
img_soup = soup(html, 'html.parser')

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [187]:
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [188]:
mars_facts_df = pd.read_html("https://galaxyfacts-mars.com/")[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [189]:
mars_facts_df.columns=["Description", "Mars", "Earth"]
mars_facts_df.set_index("Description", inplace= True)
mars_facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [190]:
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [203]:
url = "https://marshemispheres.com/"
browser.visit(url)

In [204]:
hemi_urls = []

links = browser.find_by_css('a.product-item img')
for i in range(len(links)):
    hemisphere = {}
    

    browser.find_by_css('a.product-item img')[i].click()
    
    
    samp_elem = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = samp_elem['href']
    
    hemisphere['title'] = browser.find_by_css('h2.title').text
  
    hemi_urls.append(hemisphere)
    
    browser.back()

In [205]:
hemi_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [206]:
browser.quit()